a, a:hover, a:visited {
	color: black;
}
.tit {
	text-align: center;
	font-size: 200%;
}
.contallt {
	margin: auto;
}
body {
	background: url(imgs/gamescom.jpg) no-repeat center fixed;
	background-size: cover;
}
@media all and (max-width: 30em) {
	.contallt {
		max-width: 95%;
		margin-top: 2em;
	}
	.tit {
		background: rgba(0, 191, 255, 1);
		font-size: 150%;
	}
	.cont3, .cont3text {
		background: rgba(0, 191, 255, 1);
		margin-top: 1em;
	}
	.cont3text {
		padding: .5em;
	}
	.cont3 {
		background: rgba(0, 191, 255, 0.9);
	}
	.tital {
		font-size: 115%;
		text-align: center;
		text-decoration: underline;
	}
	#toggle {
		display: none;
	}
	nav {
		text-align: center;
	}
	.lable, .navv {
	  border: 1px solid #cecfd5;
	  width: 100%;
	}
	.lable {
	  background-color: black;
	  color: #ff7b29;
	  cursor: pointer;
	  font-size: 18px;
	  padding: 5px 9px;
	  bottom: 10px;
	  left: 10px;
	  text-align: center;
	  font-stretch: 150%;
	  width: 20px;
	  height: 22px;
	  position: fixed;
	}
	.lable:hover {
	  color: #ff7b29;
	}
	#toggle:checked + .lable {
	  box-shadow: inset 0 0px 0px rgb(0, 0, 0);
	  color: white;
	}
	.cont3 {
		position: fixed;
		bottom: 42px;
		left: 0;
		width: 100%;
	  	max-height: 0;
	 	overflow: hidden;
		transition: all 1.5s ease;
		border: none;
	}
	#toggle:checked ~ .cont3 {
		max-height: 10em;
		width: 100%;
		position: fixed;
		bottom: 42px;
		left: 0;
		transition: all 1.5s ease;
	}
	#toggle:checked ~ nav {
		text-align: center;
	}
	.navv {
		list-style: none;
		margin: 0px 0 0 0;
		padding: 0;
		width: 100%;
	}
	nav {
	 	width: 100%;
	 	display: block;
		border: 1px solid #cecfd5;
	}
	.navi:last-child {
	 	border-bottom: 0;
	}
	.navi {
		height: 30px;
		text-align: center;
		vertical-align: middle;
		line-height: 30px;
	}
	form {
		background: rgba(0, 191, 255, 1);
		padding: 2em;
		border: 1px black solid;
		border-radius: 20px;
		text-align: center;
		margin-top: 55%;
	}
	a:active {
		text-decoration: none;
	}
	button {
		display: block;
		margin: auto;
		margin-top: .5em;
	}
	.mapp {
		width: 90%;
		padding-left: 10%;
		right: 0;
		padding-top: 2em;
	}
	.locat {
		text-align: center;
		margin-top: 2em;
	}
}
@media all and (min-width: 30em) and (max-width: 769px) {
	.contallt {
		max-width: 80%;
		margin-top: 3em;
	}
	.tit {
		background: rgba(0, 191, 255, 1);
		font-size: 150%;
	}
	.cont3, .cont3text {
		background: rgba(0, 191, 255, 1);
		margin-top: 0em;
	}
	.cont3text {
		padding: .5em;
	}
	.cont3 {
		background: rgba(0, 191, 255, 0.9);
	}
	.tital {
		font-size: 115%;
		text-align: center;
		text-decoration: underline;
	}
	#toggle {
		display: none;
	}
	.lable, .navv {
	  border: 1px solid #cecfd5;
	  height: 100%;
	}
	.lable {
	  background-color: black;
	  color: #ff7b29;
	  cursor: pointer;
	  font-size: 18px;
	  padding: 5px 9px;
	  top: 10px;
	  left: 10px;
	  text-align: center;
	  font-stretch: 150%;
	  width: 20px;
	  height: 22px;
	  position: fixed;
	}
	.lable:hover {
	  color: #ff7b29;
	}
	#toggle:checked + .lable {
	  box-shadow: inset 0 0px 0px rgb(0, 0, 0);
	  color: white;
	  border-right: 1px solid white;
	}
	.cont3 {
		position: fixed;
		top: 0;
		left: 50px;
		width: 0;
	  	max-height: 100%;
	 	overflow: hidden;
		transition: all 1.5s ease;
		border: none;		
	}
	#toggle:checked ~ .cont3 {
		width: 20%;
		position: fixed;
		top: 0;
		left: 50px;
		transition: all 1.5s ease;
	}
	#toggle:checked ~ nav {
		text-align: center;
		border-right: 1px solid white;	
	}
	.navv {
		list-style: none;
		margin: 0px 0 0 0;
		padding: 0;
		width: 100%;
	}
	nav {
		text-align: center;
	 	display: block;
		border: 1px solid #cecfd5;
	}
	.navi:last-child {
	 	border-bottom: 0;
	}
	.navi {
		height: 70px;
		text-align: center;
		line-height: 70px;
		vertical-align: middle;
	}
	form {
		background: rgba(0, 191, 255, 1);
		margin: auto;
		padding: 2em;
		border: 1px black solid;
		border-radius: 20px;
		text-align: center;
		margin-top: 15%;
		max-width: 80%;
	}
	a:active {
		text-decoration: none;
	}
	button {
		display: block;
		margin: auto;
		margin-top: .5em;
	}
	iframe {
		width: 100%;
	}
	.mapp {
		padding-top: 2em;
	}
	.locat {
		text-align: center;
		margin-top: 2em;
	}
}
@media all and (min-width: 769px) and (max-width: 959px) {
	body {
		max-width: 80%;
		margin: auto;
	}
	form {
		display: inline-block;
		background: rgba(0, 191, 255, 1);
		padding: 2em;
		border: 1px black solid;
		border-radius: 20px;
		text-align: center;
		margin: auto;
		transform: scale(1.4);
		margin-top: 25%;
	}
	.tit {
		width: 100%;
	}
	.cont {
		max-width: 100%;
		margin-top: 3em;
		flex: 1;
	}
	.tit {
		background: rgba(0, 191, 255, 1);
		font-size: 150%;
	}
	.hlutir, .cont3text {
		background: rgba(0, 191, 255, 1);
		margin-top: 0em;
	}
	.cont3text {
		padding: .5em;
	}
	.hlutir {
		background: rgba(0, 191, 255, 1);
		max-width: 40%;
		flex: 2;
	}
	.tital {
		font-size: 115%;
		text-align: center;
		text-decoration: underline;
	}
	.lable, #toggle {
		display: none;
	}
	.navv {
		list-style: none;
		margin: 0px 0 0 0;
		padding: 0;
		width: 100%;
	}
	nav {
		text-align: center;
	 	height: 100%;
	 	display: block;
		border: 1px solid #cecfd5;
	}
	.navi {
		height: 40px;
		text-align: center;
		line-height: 40px;
		vertical-align: middle;
	}
	.flexid {
		display: flex;
	}
	iframe {
		width: 100%;
		height: auto;
	}
	.mapp {
		padding-top: 2em;
	}
	.locat {
		text-align: center;
		margin-top: 2em;
	}
}
@media all and (min-width: 960px)  {
	body {
		max-width: 80%;
		margin: auto;
		flex-direction: row;
	}
	form {
		display: inline-block;
		background: rgba(0, 191, 255, 1);
		padding: 2em;
		border: 1px black solid;
		border-radius: 20px;
		text-align: center;
		margin: auto;
		transform: scale(1.4);
		margin-top: 25%;
	}
	.tit {
		width: 100%;
	}
	.cont {
		max-width: 55%;
		margin-top: 3em;
		flex: 1;
	}
	.tit {
		background: rgba(0, 191, 255, 1);
		font-size: 150%;
	}
	.hlutir, .cont3text {
		background: rgba(0, 191, 255, 1);
		margin-top: 0em;
	}
	.cont3text {
		padding: .5em;
	}
	.hlutir {
		background: rgba(0, 191, 255, 1);
		max-width: 35%;
		flex: 2;
	}
	.tital {
		font-size: 115%;
		text-align: center;
		text-decoration: underline;
	}
	.lable, #toggle {
		display: none;
	}
	.navv {
		list-style: none;
		margin: 0px 0 0 0;
		padding: 0;
		width: 100%;
	}
	nav {
		text-align: center;
	 	height: 100%;
	 	display: block;
		border: 1px solid #cecfd5;
	}
	.navi {
		height: 40px;
		text-align: center;
		line-height: 40px;
		vertical-align: middle;
	}
	.flexid {
		display: flex;
		flex-direction: row;
	}
	iframe {
		width: 100%;
	}
	.mapp {
		padding-top: 2em;
	}
	.locat {
		text-align: center;
		background: rgba(0, 191, 255, 1);
		margin-top: 2em;
		text-decoration: bold;
	}
}